@using StockAnalysis

@model StockAnalysis.Models.UserView
@{
    ViewBag.Title = "StocksAnalysis";
}

<ul id="webticker">
    @foreach (var stock in Model.StockModels)
    {
        <li>[@stock.StockSymbol : @stock.StockPrice]</li>
    }
</ul>

<div style="margin-top: 10px">
    @Html.DropDownList("StockChart", Model.StockModels.Select(i => new SelectListItem() { Text = i.StockSymbol, Value = i.StockSymbol }), "-- Select Stock --",
    new
    {
        // TODO fix this
        onchange = "document.location.href = 'Stock/StockChart?id=' + this.options[this.selectedIndex].value;"
    }
    //    onchange = @"
    //        var form = document.forms[0]; 
    //        form.action='Stock/StockChart/' + 'this.value';
    //        form.submit();"
    //}
    )
</div>

<img style="margin-top: 10px" src="@Url.Action("StockChart", "Stock", new { stockSymbol = "ABUS" })" />

<h1>STOCK WATCHLIST</h1><br />
<section id="loginForm" style="border:none">
    @*<h2>Use a local account to log in.</h2>*@
    @using (Html.BeginForm("StockSearch", "Stock", FormMethod.Post,
                                                                                                          new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <label class="inputLabel">Enter stock symbol</label><input class="rightAlign" type="text" name="stockSymbol" /><br />
            <input type="submit" value="Submit" />
        </fieldset>
    }
</section>

<table style="width:100%">
    <thead>
        <tr>
            <td>StockSymbol</td>
            <td>Name</td>
            <td>StockPrice</td>
            <td>PERatio</td>
            <td>MarketCap</td>
            <td>YearLow</td>
            <td>YearHigh</td>
            <td>Dividend</td>
            <td>TargetPrice</td>
        </tr>
    </thead>

    @foreach (var stock in Model.StockModels)
    {
        <tr>
            <td>@stock.StockSymbol</td>
            <td>@stock.Name</td>
            <td>@stock.StockPrice</td>
            <td>@stock.PERatio</td>
            <td>@stock.MarketCap</td>
            <td>@stock.YearLow</td>
            <td>@stock.YearHigh</td>
            <td>@stock.Dividend</td>
            <td>@stock.TargetPrice</td>
            <td><input type="button" value="Remove" onclick="location.href='@Url.Action("RemoveStock", "Stock", new { stockSymbol = @stock.StockSymbol, stockSymbols = true })'" /></td>
        </tr>
    }
</table>

<br />
<h1>MY STOCKS</h1><br />
<section id="loginForm" style="border:none">
    @*<h2>Use a local account to log in.</h2>*@
    @using (Html.BeginForm("AddUserStock", "Stock", FormMethod.Post,
                                                                                                                  new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <label class="inputLabel">Enter stock symbol</label><input class="rightAlign" type="text" name="stockSymbol" />
            <label class="inputLabel">Enter # of shares</label><input class="rightAlign" type="text" name="numberOfShares" title="+ve if adding. -ve in selling" />
            <label class="inputLabel">Enter stock price</label><input class="rightAlign" type="text" name="stockPrice" /><br />
            <input type="submit" value="Submit" />
        </fieldset>
    }
</section>
<table style="width:100%">
    <thead>
        <tr>
            <td>StockSymbol</td>
            <td>NumberOfShares</td>
            <td>Performance (%)</td>
            <td>CostBasis</td>
            <td>StockGrade</td>
        </tr>
    </thead>

    @foreach (var stock in Model.UserStockModels)
    {
        <tr>
            <td>@stock.StockSymbol</td>
            <td>@stock.StockPurchases.Sum(i => i.NumberOfShares)</td>
            <td>@stock.Performance</td>
            <td>@stock.CostBasis</td>
            <td>@stock.StockGrade</td>
            <td><input type="button" value="Remove" onclick="location.href='@Url.Action("RemoveStock", "Stock", new { stockSymbol = @stock.StockSymbol, stockSymbols = false })'" /></td>
        </tr>
    }
</table>

@section Scripts
{
    @Scripts.Render(BundleConfig.BundlesJquery)
    <script type="text/javascript">
        $(document).ready(function () {
            $("#webticker").webTicker();
        });
    </script>
}
