@using StockAnalysis
@using StockAnalysis.Models

@model StockAnalysis.Models.UserView
@{
    ViewBag.Title = "StocksAnalysis";
}

<ul id="webticker">
    @foreach (var stock in Model.StockModels)
    {
        <li>[@stock.StockSymbol : @stock.StockPrice]</li>
    }
</ul>

<div id="marginTop" style="float:left; margin-right:5px">
    @Html.DropDownList("SelectedStock", Model.GetStockSymbols,
    new
    {
        @onchange = "reloadChart()"
    })
</div>

<div id="marginTop">
    @Html.DropDownList("ChartTimeRange", DropDownValues.GetTimeRange,
    new
    {
        @onchange = "reloadChart()"
    })
</div>

<img  id="chart" src="" />

<h1>STOCK WATCHLIST</h1><br />
<section id="loginForm" style="border:none">
    @*<h2>Use a local account to log in.</h2>*@
    @using (Html.BeginForm("StockSearch", "Stock", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <label class="inputLabel">Enter stock symbol</label><input class="rightAlign" type="text" name="stockSymbol" /><br />
            <input type="submit" value="Add Stock" />
        </fieldset>
    }
</section>

<table style="width:100%">
    <thead>
        <tr>
            <td>StockSymbol</td>
            <td>Name</td>
            <td>StockPrice</td>
            <td>PERatio</td>
            <td>MarketCap</td>
            <td>YearLow</td>
            <td>YearHigh</td>
            <td>Dividend</td>
            <td>TargetPrice</td>
        </tr>
    </thead>

    @foreach (var stock in Model.StockModels)
    {
        <tr>
            <td>@stock.StockSymbol</td>
            <td>@stock.Name</td>
            <td>@stock.StockPrice</td>
            <td>@stock.PERatio</td>
            <td>@stock.MarketCap</td>
            <td>@stock.YearLow</td>
            <td>@stock.YearHigh</td>
            <td>@stock.Dividend</td>
            <td>@stock.TargetPrice</td>
            <td><input type="button" value="Remove" onclick="location.href='@Url.Action("RemoveStockSymbol", "Stock", new { stockSymbol = @stock.StockSymbol })'" /></td>
        </tr>
    }
</table>

<br />
<h1>MY STOCKS</h1><br />
<section id="loginForm" style="border:none">
    @*<h2>Use a local account to log in.</h2>*@
    @using (Html.BeginForm("AddUserStock", "Stock", FormMethod.Post,
                                                                                                                  new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <label class="inputLabel">Enter stock symbol</label><input class="rightAlign" type="text" name="stockSymbol" />
            <label class="inputLabel">Enter # of shares</label><input class="rightAlign" type="text" name="numberOfShares" title="+ve if adding. -ve in selling" />
            <label class="inputLabel">Enter stock price</label><input class="rightAlign" type="text" name="stockPrice" /><br />
            <input type="submit" value="Add Stock Transaction" />
        </fieldset>
    }
</section>
<table style="width:100%">
    <thead>
        <tr>
            <td>StockSymbol</td>
            <td>NumberOfShares</td>
            <td>Performance (%)</td>
            <td>CostBasis</td>
            <td>StockGrade</td>
        </tr>
    </thead>

    @foreach (var stock in Model.UserStockModels)
    {
        <tr>
            <td>@stock.StockSymbol</td>
            <td>@stock.StockPurchases.Sum(i => i.NumberOfShares)</td>
            <td>@stock.Performance</td>
            <td>@stock.CostBasis</td>
            <td>@stock.StockGrade</td>
            <td><input type="button" value="Remove" onclick="location.href='@Url.Action("RemoveStockInformation", "Stock", new { stockSymbol = @stock.StockSymbol })'" /></td>
        </tr>
    }
</table>

@section Scripts
{
    @Scripts.Render(BundleConfig.BundlesJquery)
    <script type="text/javascript">
        $(document).ready(function () {
            $("#webticker").webTicker();
        });

        $(document).ready(function () {
            reloadChart("^GSPC")
        });

        function reloadChart()
        {
            var eDate = document.getElementById("ChartTimeRange");
            var date = eDate.options[eDate.selectedIndex].value;

            var eStock = document.getElementById("SelectedStock");
            var selectedStock = eStock.options[eStock.selectedIndex].value;
            document["chart"].src = '/Stock/StockChart?stockSymbol=' + selectedStock + '&date=' + date;
        }
    </script>
}
